{{ header }}
<div class="container">
    <div class="row">
    <div class="col-md-6">
        <h1>{{ description.meta_h1 }}</h1>
        <h1>{{ description.meta_title }}</h1>
        <h1>{{ description.meta_description }}</h1>
        <h1>{{ module_contacts.geo_lat }}</h1>
        <h1>{{ module_contacts.geo_lng }}</h1>
    </div>
    <div class="col-md-6"></div>
</div>
</div>
    
    {{ footer }}